.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; 
    justify-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

body {
    background-color: rgba(185, 188, 174, 0.63);
}

@media (max-width: 391px) {
    .cards-container {
        grid-gap: 8px;
    }
}